@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-pageBg text-textPrimary tracking-tight selection:bg-primaryAccent selection:text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}
